<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="/static/anuncios.js"></script>
</head>
<body>
  <h1>Anuncios1</h1>

  {% for grouping in grouping_list %}
    <h2>{{ grouping.title }}</h2>
    <ul>
      {% for category in object_list %}
        {% if category.parent == grouping.slug %}
          <li><a href="{% url 'post-list-html' city.tr_url category.slug %}">{{ category.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

</body>
<script>
  // redirect to user's location
  getUserCity().then((response) => { location.pathname = '/' + response.url });
</script>
</html>