{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <h1><a href="{% url 'category-list-html' city.tr_url %}">{{ category.title }} in {{ city.tr_name }}</a></h1>

  <p>category: {{category.pk}} -- city: {{city.pk}}</p>

  <p><a href="{% url 'post-create-html' %}?c={{ category.slug }}&l={{ city.pk }}">{% blocktrans %}
    Agrega un anuncio
  {% endblocktrans %}</a></p>

<ul>
  {% for object in object_list %}
    <li>
      {% if object.city %}<a href="{% url 'post-detail-html' object.pk object.slug %}">{% endif %}
        {{ object.title }}
      {% if object.city %}</a>{% endif %}
      <span style="color: green;">{{ object.city_name }}</span>
      <span style="color: gray;">{{ object.city.tr_crc }}</span>
      <span style="color: pink;">{{ object.id }}</span>
      <span style="color: red;">
        by {% if object.user.pk %}<a href="{% url 'user-detail-html' object.user.pk %}">user: {{ object.user.pk }}</a>{% else %}anonymous user{% endif %}
      </span>
    </li>
  {% endfor %}
</ul>

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}

</body>
</html>